<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>testeServlet</servlet-name>
        <servlet-class>br.com.smartk.control.testeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirCantor</servlet-name>
        <servlet-class>br.com.smartk.control.IncluirCantor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirGenero</servlet-name>
        <servlet-class>br.com.smartk.control.IncluirGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarMusica</servlet-name>
        <servlet-class>br.com.smartk.control.CadastrarMusica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>br.com.smartk.control.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.com.smartk.control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarGenero</servlet-name>
        <servlet-class>br.com.smartk.control.CadastrarGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCantor</servlet-name>
        <servlet-class>br.com.smartk.control.CadastrarCantor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEstabelecimento</servlet-name>
        <servlet-class>br.com.smartk.control.CadastrarEstabelecimento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testeServlet</servlet-name>
        <url-pattern>/testeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirCantor</servlet-name>
        <url-pattern>/IncluirCantor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirGenero</servlet-name>
        <url-pattern>/IncluirGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarMusica</servlet-name>
        <url-pattern>/CadastrarMusica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/aviso.html</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>CadastrarGenero</servlet-name>
        <url-pattern>/CadastrarGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCantor</servlet-name>
        <url-pattern>/CadastrarCantor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEstabelecimento</servlet-name>
        <url-pattern>/CadastrarEstabelecimento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
